In [50]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pylab import rcParams
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
rcParams['figure.figsize'] = 10, 8
file_path = 'Data.csv'
df = pd.read_csv(file_path)
df

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,sample_size,method_data_collection,reference,url,notes
0,104,Myanmar,NaN,23161.02,"Rice, milled",2015,1.78000,1.78%,26.12kgs,Storage,Storage,"30 days storage, with trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
1,104,Myanmar,NaN,23161.02,"Rice, milled",2015,11.77000,11.77%,88.18kgs,Storage,Storage,"60 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
2,104,Myanmar,NaN,23161.02,"Rice, milled",2015,5.88000,5.88%,44.09kgs,Storage,Storage,"30 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
3,104,Myanmar,NaN,23161.02,"Rice, milled",2015,3.57000,3.57%,52.24kgs,Storage,Storage,"60 days storage, with trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
4,104,Myanmar,NaN,23161.02,"Rice, milled",2015,17.65000,17.65%,132.27kgs,Storage,Storage,"90 days storage, no trapping",Rodents,NaN,Controlled Experiment,"Dr Steven Belmain (2015), context post-harvest...",NaN,Reference has been generated automatically
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25411,894,Zambia,NaN,0118,Millet,2000,2.50000,2.5,NaN,Transportation,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25412,894,Zambia,NaN,0118,Millet,2000,2.50000,2.5,NaN,Winnowing,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25413,894,Zambia,NaN,0118,Millet,2000,2.38075,2.38075,NaN,Storage,Storage,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25414,894,Zambia,NaN,0118,Millet,2000,3.44008,3.44008,NaN,"Drying, Harvesting",Harvest,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN
25415,894,Zambia,NaN,0118,Millet,2000,1.27433,1.27433,NaN,Storage,Farm,NaN,NaN,NaN,Modelled Estimates,NaN,https://www.aphlis.net/en/data/tables/value-ch...,NaN

In [56]:
df = df.drop(columns=['region','loss_percentage_original','sample_size','reference','url','notes'])

In [58]:
df

,m49_code,country,cpc_code,commodity,year,loss_percentage,loss_quantity,activity,food_supply_stage,treatment,cause_of_loss,method_data_collection
0,104,Myanmar,23161.02,"Rice, milled",2015,1.78000,26.12kgs,Storage,Storage,"30 days storage, with trapping",Rodents,Controlled Experiment
1,104,Myanmar,23161.02,"Rice, milled",2015,11.77000,88.18kgs,Storage,Storage,"60 days storage, no trapping",Rodents,Controlled Experiment
2,104,Myanmar,23161.02,"Rice, milled",2015,5.88000,44.09kgs,Storage,Storage,"30 days storage, no trapping",Rodents,Controlled Experiment
3,104,Myanmar,23161.02,"Rice, milled",2015,3.57000,52.24kgs,Storage,Storage,"60 days storage, with trapping",Rodents,Controlled Experiment
4,104,Myanmar,23161.02,"Rice, milled",2015,17.65000,132.27kgs,Storage,Storage,"90 days storage, no trapping",Rodents,Controlled Experiment
...,...,...,...,...,...,...,...,...,...,...,...,...
25411,894,Zambia,0118,Millet,2000,2.50000,NaN,Transportation,Farm,NaN,NaN,Modelled Estimates
25412,894,Zambia,0118,Millet,2000,2.50000,NaN,Winnowing,Farm,NaN,NaN,Modelled Estimates
25413,894,Zambia,0118,Millet,2000,2.38075,NaN,Storage,Storage,NaN,NaN,Modelled Estimates
25414,894,Zambia,0118,Millet,2000,3.44008,NaN,"Drying, Harvesting",Harvest,NaN,NaN,Modelled Estimates
25415,894,Zambia,0118,Millet,2000,1.27433,NaN,Storage,Farm,NaN,NaN,Modelled Estimates

In [64]:
df.isnull().sum()

m49_code                      0
country                       0
cpc_code                      0
commodity                     0
year                          0
loss_percentage               0
loss_quantity             24877
activity                   2808
food_supply_stage          3391
treatment                 24096
cause_of_loss             24414
method_data_collection      355
dtype: int64

In [70]:
df['loss_quantity']=df['loss_quantity'].fillna(df['loss_quantity'].mean())
df.Fare.fillna(df.Fare.mean(),inplace=True)

AttributeError: 'Series' object has no attribute 'most_frequent'